section#band(ng-controller="BandController")
  h2.title The Band
  article.content-container
    img.img(src="/media/laurenjon.jpg")
    table.tbl
      caption Songs
      thead
        th Title
        th Artist
      tbody
        tr(ng-repeat="song in songs")
          td {{ song.title }}
          td {{ song.artist }}
