section#shows(ng-controller="ShowsController")
  h2.title Shows
  article.content-container
    table.tbl
      thead
        th Date
        th Location
      tbody
        tr(ng-repeat="show in shows")
          td {{ show.date }}
          td {{ show.location }}
