* {
  transition: all .250s;
  //border: 1px solid white;
}
html {
  box-sizing: border-box;
  font-family: Droid Serif, serif;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #baa;
}
a {
  color: #baa;
  opacity: .7;
  text-decoration: none;
}
a:hover {
  color: #fee;
  opacity: .9;
}
a:visited, a:active {
  color: #baa;
  opacity: .7;
}

#container {
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.section-title {
  display: block;
  font-family: Ruthie, Times, serif;
  font-size: 6em;
  line-height: 1em;
  padding: 25px 0;
  text-shadow:
    0px 0px 3px black,
    1em -.1em 6px #211,
    -.6em 0em 4px #112,
    .5em .1em 8px #121;
  -webkit-animation: lovelies 15s infinite;
}

.tbl {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
.tbl caption {
  margin: 20px auto;
  font-family: Ruthie, Times, serif;
  font-size: 3em;
}
.tbl th, .tbl td {
  width: 50%;
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #433;
}
#band p {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 250px;
}
.img {
  display: inline-block;
  height: 250px;
}

/* Video Background and Controls
 * * * * * * * * * * * * * * * */
#vid-container {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  text-align: left;
}
#vid-curtain {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: #000;
  background-image: url('/media/bg.jpg');
  z-index: 1;
}
#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  mix-blend-mode: darken;
  z-index: 2;
}
#video-controls {
  position: fixed;
  padding: 10px;
  font-size: .8em;
  z-index: 3;
}
#video-controls i {
  width: 20px;
}
#video-controls ul {
  list-style: none;
  padding: 0;
}
.now-playing::before {
  content: "> ";
  font-family: Droid Sans;
}
.bar {
	width: 80px;
	height: 5px;
	background: #333;
	position: relative;
	top: -4px;
	left: 4px;

	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

#play {}
#seek {}
#mute {}
#vol {}

/* Main Section box
 * * * * * * * * * */
#content {
  position: relative;
  padding-bottom: 40px;
  opacity: .9;
  z-index: 2;
}

.content-container {
  display: inline-block;
	background-color: rgba(60,60,60,.5);
  mix-blend-mode: none;
  color: #eee;
  text-shadow: 0px 0px 3px black;
	padding: 25px;
  margin: 25px auto;
  text-align: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Index Title
 * * * * * * */
#title {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
}
#title strong {
  font-family: Ruthie, Times, serif;
  font-size: 16em;
  text-shadow:
    0px 0px 3px black,
    74px -65px 15px #211,
    -230px 13px 15px #112,
    245px 78px 15px #121;
  -webkit-animation: lovelies 15s infinite;
}


/* Navigation Menu
 * * * * * * * * */
#menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 2px 2px black;
  z-index: 2;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
}

/* Contact Page
 * * * * * * * */
.contact-input {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
	color:#222;
	font-size: 18px;
	line-height: 22px;
	background-color: rgba(255,255,255,.8);
  border: 3px solid rgba(0,0,0,0);
}

.contact-input:focus {
	background: #fff;
  outline: none;
	border: 3px solid #a77;
	color: #522;
}

.left-col {
  display: inline-block;
  vertical-align: top;
}
.right-col {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.icon-label {
  width: 50px;
  text-align: center;
}
.input-text {
  width: 250px;
}
#message{
  min-width: 350px;
  height: 200px;
  line-height: 150%;
  resize: vertical;
}

#send {
  width: 250px;
  margin-left: 50px;
	border: 2px solid #222;
	cursor: pointer;
	background-color: #a88;
	color: #411;
	font-size:24px;
  font-weight:700;
}

#send:hover{
	background-color: #ecc;
	color: #744;
}

#status {}

/* Panel Div
 * * * * * */
#panel {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 5px;
}

/* Animations
 * * * * * * */
@-webkit-keyframes lovelies {
  0% {color: rgba(150,60,60,.9);}
  20% {color: rgba(60,60,150,1);}
  60% {color: rgba(150,60,150,.8);}
  90% {color: rgba(60,80,150,.9);}
  100% {color: rgba(150,60,60,1);}
}
